/* ChatApp.css */
.chat-app {
  display: flex;
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.chat-list {
  width: 20%;
  background: #232323;
  color: white;
  overflow-y: auto;
  animation: slideInLeft 1s ease;
}

.chat-item {
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s;
}

.chat-item.active {
  background: linear-gradient(135deg, #0096d6, #003247)!important;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #353535;
}

.chat-header {
  background: #1f1f1f;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1s ease;
}
.chat-heading {
  display: flex;
  padding-left: 40%;
  margin:3rem;
  align-items: center;
}
.wallet-address {
  font-size: 14px;
}

.chat-messages {
  flex: 1;
  background: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  animation: fadeIn 1s ease;
}

.message {
  background: #89f3ff;
  color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  align-self: flex-end;
  max-width: 70%;
}

.message.other {
  background: #8e8e8e;
  align-self: flex-start;
  color:black;
}

.chat-input {
  background: #383838;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

.chats-heading{
  font-size:1.5rem;
  margin: 1rem;
}

button {
  background: linear-gradient(135deg, #0096d6, #003247)!important;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
